extends ../layout

block content
  //.container.is-fluid#updates(style="padding-top: 2rem").content.is-large
  section.hero.is-primary.is-bold
    .hero-body
      .container
        h1.title Feedback
  .container(style="padding: 2rem 0")
    form#feedback_form
      // name
      .field
        input.input(type='text', name='name', placeholder='Your Name', pattern="^[^±!@£$%^&*_+§¡€#¢§¶•ªº«\\/<>?:;|=.,]{1,20}$", required)
      // email
      .field
        input.input(type='text', name='title', placeholder='Message Heading', minlength="7", pattern="^[a-zA-Z ]*$", required)
      // message
      .field
        textarea.textarea(name='message', placeholder="What do you think?", minlength="50", required)
      button.button.is-info.is-pulled-right#feedback-submit-button(type='submit' required) Submit
  hr
  .container(style="padding: 1rem")
    each post in query
      - 
        function timeSince(date) {

          var seconds = Math.floor((new Date() - date) / 1000);
          
          var interval = Math.floor(seconds / 31536000);

          if (interval > 1) {
            return interval + " years ago";
          }
          interval = Math.floor(seconds / 2592000);
          if (interval > 1) {
            return interval + " months ago";
          }
          interval = Math.floor(seconds / 86400);
          if (interval > 1) {
            return interval + " days ago";
          }
          interval = Math.floor(seconds / 3600);
          if (interval > 1) {
            return interval + " hours ago";
          }
          interval = Math.floor(seconds / 60);
          if (interval > 1) {
            return interval + " minutes ago";
          }
          return Math.floor(seconds) + " seconds ago";
        }
      - var post_time = timeSince(new Date(post.Time * 1000))
      article.media(id=`Comment_${post.Comment_ID}`)
        figure.media-left
          p.image.is-64x64
            img.is-rounded(src=`https://cdn0.iconfinder.com/data/icons/elasto-online-store/26/00-ELASTOFONT-STORE-READY_user-circle-512.png`)
        .media-content
          .content
            p
              strong=`${post.Comment_Title}`
              br
              =`${post.Comment_Author}`
              small=` - ${post_time}`
              br
              span=post.Comment_Message
        //
          nav.level.is-mobile
            .level-left
              a.level-item
                span.icon.is-small
                  i.fas.fa-reply
              a.level-item
                span.icon.is-small
                  i.fas.fa-retweet
              a.level-item
                span.icon.is-small
                  i.fas.fa-heart


    
